name: PR Verification

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    # run on the matrix platform
    runs-on: ${{ matrix.platform }}
    strategy:
      # do not fail other matrix runs if one fails
      fail-fast: false
      # set all platforms our test should run on
      matrix:
        platform: [ubuntu-latest, windows-latest]
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Tauri dependencies
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update &&
          sudo apt-get install -y \
          libwebkit2gtk-4.1-dev \
          libayatana-appindicator3-dev \
          webkit2gtk-driver \
          xvfb

      - name: install WebDriver (Windows)
        if: matrix.platform == 'windows-latest'
        run: cargo install tauri-driver

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: src-tauri

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup pnpm
        uses: pnpm/action-setup@1e1c8eafbd745f64b1ef30a7d7ed7965034c486c
        with:
          package_json_file: ./package.json
          cache: true
          cache_dependency_path: ./pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup AppImage environment (Linux)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo add-apt-repository universe
          sudo apt-get update
          sudo apt-get install -y libfuse2

      - name: Build app (Tauri)
        run: pnpm run tauri build

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: build-artifact-${{ matrix.platform }}
          path: src-tauri/target/release/bundle/**
